[submodule "pack/community/start/airline"]
	path = pack/community/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/community/start/colorschemes"]
	path = pack/community/start/colorschemes
	url = https://github.com/vim/colorschemes.git
[submodule "pack/community/start/dracula"]
	path = pack/community/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "pack/community/start/fugitive"]
	path = pack/community/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/community/start/gitgutter"]
	path = pack/community/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/community/start/gruvbox"]
	path = pack/community/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/community/start/nord"]
	path = pack/community/start/nord
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "pack/community/start/onedark"]
	path = pack/community/start/onedark
	url = https://github.com/joshdick/onedark.vim.git
[submodule "pack/community/start/surround"]
	path = pack/community/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/community/start/vinegar"]
	path = pack/community/start/vinegar
	url = https://github.com/tpope/vim-vinegar.git
